{% extends 'mypf/base.html' %}
<!--extended the base html file-->

<!--adding content-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <!--Contact Form-->
            <form class="margin" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="emailinput" class="col-2 col form-label">Emails :</label>
                    <div style="color: white">
                        <p >hamzamohamed@gmail.com</p>
                        <p>hamzawy@yahoo.com</p>
                        <p>hamza.m2017@ymail.com</p>
                    </div>
                </div>
                <div style="color: white">
                    <label  >Phone-numbers :</label>
                    <div class="col-10">
                        <p style="color: red">01125947863-01022586525</p>
                    </div>
                </div>
                <div style="color: white">
                    <label for="messageinput" class="col-2 col form-label">Message</label>
                    <div class="col-10">
                        <textarea name="message" class="form-control" id="messageinput" placeholder="please if you have any problems,contact me"></textarea>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}